/* Add some global styles here! */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700;900&family=Oswald&display=swap');

:root {
  --red: #a74a43;
  --green: #417B5A;
  --blue: #7180AC;
  --yellow: #c38d4f;
  --dark-brown: #38322c;
  --accent-bg: #ece7df;
  --text-color: #ece7df;
}

body {
  background: var(--text-color);
  color: var(--dark-brown);
  font-family: 'Libre Baskerville', serif;
}

a {
  color: var(--blue);
}

button.pure-button {
  background-color: var(--yellow);
  color: var(--text-color);
}

button.button-error {
  color: var(--text-color);
  background: var(--red);
}

button.button-success {
  color: var(--text-color);
  background: var(--green);
}

button.pure-button-primary {
  color: var(--text-color);
  background: var(--blue);
}

a.button {
  color: #212529;
  background-color: #38322C;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

h3 {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 1em;
  margin: 0em;
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  font-size: 1.5em;
}

h2, h3, .author, nav, .message-header {
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

 h2 {
  font-size: 2em;
 }

 nav a {
  font-size: 1.5em;
 }

p {
  margin: 0em;
  line-height: 2;
}

menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="tel"], 
input[type="date"],
input[type="password"],
textarea {
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 4px;
  resize: none;
  border: 0px;
}

textarea {
  height: 6em;
}

form, article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.settings-form {
  box-shadow: none;
  margin: 0em;
}

form {
  background-color: var(--dark-brown);
  color: var(--accent-bg);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

article {
  background-color: var(--dark-brown);
  color: var(--accent-bg);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

article.inverse-article {
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  margin: 0em;
  border-radius: 4px;
}

article.inverse-article textarea {
  background-color: var(--dark-brown);
  color: var(--accent-bg);
}

.timestamp {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  font-style: italic;
  margin: 0px;
}

.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base article:only-child {
  margin-left: auto;
}

.search {
  justify-content: center;
}

.author {
  padding: 1em;
  border-radius: 4px;
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  font-size: 1.5em;
}

.message-header {
  justify-content: left;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 1em;
  margin: 0em;
  background-color: var(--accent-bg);
  color: var(--dark-brown);
}

.message-title {
  font-size: 1.5em;
}

.message-header a {
  margin: 0em;
  line-height: 2;
}


.row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60em;
}

.posts {
  padding: 1em 0em 1em 0em;
}

section {
  display: flex;
  flex-direction: column;
}

img {
  margin: 0em;
  border-radius: 4px;
}

section.scheduled-message-section p {
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  margin: 0em;
  border-radius: 4px;
  padding: 1em;
}

body {
  padding-bottom: 2em;
}

.list {
  padding: 0em 0em 1em 0em;
}

.reactions {
  text-align: center;
  padding: 0.5em;
  border-radius: 4px;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.feedback {
  padding: 0em 1em 0em 1em;
}

input.emoji-input {
  width: 7.5em;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em 0em 0em 0em;
}

.cards.horizontal {
  flex-direction: row;
  gap: 1em;
}

.cards.vertical {
  flex-direction: column;
  gap: 1em;
}

.cards.horizontal .card {
  border-radius: 4px;
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  padding: 1em;
  text-align: center;
  flex: 1 1 0px;
}

.cards .card b {
  font-size: 1.2em;
}

.card {
  border-radius: 4px;
  background-color: var(--accent-bg);
  color: var(--dark-brown);
  padding: 1em;
  line-height: 2;
  text-align: left;
}