.toast {
  position: fixed;
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1em;
  border-radius: 6px;
  max-width: 60em;
  margin: 0 auto;

  color: #ece7df;
}

.error {
  background-color: #a74a43;
}
.success {
  background-color: #417B5A;
}